
.punch-details{
  margin: 0px;
  width: 100%;
  height: 100%;
}

.btn-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  ion-button{
    min-width: 120px;
  }
}
