@use "../../../theme/_custom_class.scss" as *;

.dashboard {
    // --background: var(--ion-color-primary-tint);     
    --background: var(--ion-red-background-color);
  .header-card {
    // background-color: var(--ion-color-primary);  
    min-height: 40%;  
    border-radius: 0px 0px 10px 10px;
    ion-button {
      --box-shadow: none;
      --border-width: 1px;
      --border-color: var(--ion-color-primary-contrast);
      --border-style: solid;
      --border-radius: 10px;
    }
  }
  .content-card {
    border-radius: 10px;
    max-height: 60%;
    // border: 1px solid var(--ion-color-primary-tint);
   box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
    --background: #fff;
  }
}
