 form {
 width: 100%;
 }
ion-thumbnail {
  --size: 200px;
  object-fit: fill;
  -o-object-fit : fill;
}

ion-input {
  --highlight-height: 0;
  /* no bottom line */
  --border-width: 0;
  /* ensure no default border */
}


ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  scroll-behavior: smooth;
}


ion-button{
  border-radius: 4rem;
  --border-radius: 4rem;
}

.logo{
      object-fit: fill;
    scale: 1.5;
}
