ion-content {
  --background: #fff; 
  ion-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none; 
  }
  ion-thumbnail {
    --size: 120px; 
  } 
 .border-item{
  --inner-padding-end: 0; /* remove Ionic's default padding */
  --inner-padding-start: 0;
  --min-height: 48px; /* optional: keep height consistent */

  border: 1px solid var(--ion-color-medium); /* border color */
  border-radius: 8px; /* rounded corners */
  padding: 4px 8px; /* spacing inside */
  margin: 8px 0; /* spacing between rows */
 }
 ion-input {
  --highlight-height: 0; /* no bottom line */
  --border-width: 0;     /* ensure no default border */
}
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
}

 