.full-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;

  ion-icon{
    width: 50px;
    height: 50px;
  }
}
