.searchable-dropdown{
  position: relative;
}

.dropdown{
    border: 2px solid var(--ion-color-primary);
     border-radius: 4px;
    position: absolute;
    width: 100%;
    max-height: 160px;
    overflow-y: scroll;
    margin-top: 4px;
    z-index: 3;
}

