:root {
    // --ion-color-primary: #3083FF;
    // // --ion-color-primary: #64c3bf;
    // --ion-color-primary-rgb: 250,0,63;
    // --ion-color-primary-contrast: #E0ECFF;
    // // --ion-color-primary-contrast: #BBE8E5;
    // --ion-color-primary-contrast-rgb: 255,255,255;
    // --ion-color-primary-shade: #112E59;
    // --ion-color-primary-tint: #EBECF1;
    --ion-color-primary: #02929A;
    // --ion-color-primary: #64c3bf;
    --ion-color-primary-rgb: 250,0,63;
    --ion-color-primary-contrast: #D9EFF0;
    // --ion-color-primary-contrast: #BBE8E5;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #112E59;
    --ion-color-primary-tint: #E6F4F5;
    // --ion-blue-background-color: linear-gradient(180deg,rgba(2, 146, 154, 0.96) 0%, rgba(217, 239, 240, 1) 96%);
    --ion-blue-background-color: #F9FAFB;

    --ion-color-secondary: #ffffff;
    --ion-color-secondary-rgb: 255,255,255;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #e0e0e0;
    --ion-color-secondary-tint: #ffffff;
  }