

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.shadow-box{
    box-shadow: var(--ion-box-shadow);
}

.clear-background{
    background-color: transparent;
    --background: none;
}

.border-bend{
  border-radius: 4px ;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.description{
  font-size: 16px;
  font-weight: medium;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.d-block{
  display: block;
}

.text-bold{
  font-weight: bold;
}
