<ion-content [fullscreen]="true" [scrollY]="false" class="splash-content">
  <div class="splash-container">
    <div class="logo-wrapper">
      <ion-thumbnail>
        <img class="logo" src="assets/image/eb-connect.svg" alt="EB Connect Logo" />
      </ion-thumbnail>
    </div>
    <div class="app-title">
      <h1 class="title">EB Connect</h1>
    </div>
    <div class="loading-spinner">
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>
  </div>
</ion-content>

