/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 @use './theme/red_theme' as *;
 @use './theme/custom_class' as *;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.noto-serif-regular {
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  --ion-default-font : "noto-serif-regular", serif;
  --ion-font-family : "noto-serif-regular", serif;
  font-family: "noto-serif-regular", serif;
}

ion-content {
  background: url(./assets/image/white-particle-lines-futuristic-gradient-background.jpg) no-repeat center center;
  background-size: cover;
}


::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
/* Swipe left (forward navigation) */
.forward::view-transition-old(root) {
  animation-name: slide-out-left;
}
.forward::view-transition-new(root) {
  animation-name: slide-in-right;
}
/* Swipe right (back navigation) */
.back::view-transition-old(root) {
  animation-name: slide-out-right;
}
.back::view-transition-new(root) {
  animation-name: slide-in-left;
}
/* Keyframes */
@keyframes slide-out-left {
  to { transform: translateX(-100%); opacity: 0.5; }
}
@keyframes slide-in-right {
  from { transform: translateX(100%); opacity: 0.5; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes slide-out-right {
  to { transform: translateX(100%); opacity: 0.5; }
}
@keyframes slide-in-left {
  from { transform: translateX(-100%); opacity: 0.5; }
  to { transform: translateX(0); opacity: 1; }
}
